<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Test page search</title>
    </head>
    <body> 
      <center> 
        <form method="get" action="{% url 'result' %}">
            <label for="drug_id">Enter drug id: </label>
            <input
              type="number"
              name="searched_aui"
              value="" />
            <button type="submit">Search</button>
          </form>
        </center>
    </body>
</html>